{% extends "base.html" %}
{% block content%}
<div>
    <div class="container">
    <h1>Login</h1>


        <form method="POST">
            {{form.hidden_tag()}}
            <!-- hidden_tag protects the form against CSRF attacks.-->
            {{form.email.label}}{{form.email}}
            {{form.password.label}}{{form.password}}
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}<br>
            {{form.submit(class="btn waves-effect blue")}}
        </form>
         <p>
        Forgot Your Password?
        <a href="{{ url_for('users.reset_psw_req') }}">Click to Reset It</a>
    </p>
        <p>
            First time visitor?
        <a href="{{url_for('users.register')}}" class="">Register</a>
        </p>
    </div>
</div>
{% endblock %}