{% extends "base.html" %}
{% block content%}
<div>
    <div class="container">
        <h1>Reset Password</h1>
        <form method="POST" action="">
            {{form.hidden_tag()}}
            {{ form.password(size=32) }}{{ form.password.label }}<br>
            <br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{ form.psw_again(size=32) }}{{ form.psw_again.label }}<br>
            <br>
            {% for error in form.psw_again.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
            <div class="col 12 center-all">
                {{form.submit(class="btn blue waves-effect waves-light")}}
                <a href="{{ url_for('main.index' )}}" class="waves-effect btn dark-purple accent-2">
                    Return</a></div></form>
    </div>


</div>

{% endblock %}