{% extends "base.html" %}
{% block content%}
<div>
    <div class="container">
    <h1>Register</h1>
        <form method="POST">
            {{form.hidden_tag()}}
            <!-- hidden_tag protects the form against CSRF attacks.-->
            {{form.username.label}}{{form.username(class="validate")}}
            {{form.email.label}}{{form.email(class="validate")}}
            {{form.password.label}}{{form.password}}
            {{form.psw_again.label}}{{form.psw_again}}
            {{form.submit(class="btn waves-effect accent")}}
        </form>
        <a href="{{url_for('users.login')}}" class="btn waves-effect">Login</a></div>

</div>
{% endblock %}