{% extends "base.html" %}
{% block content%}
<div>
    <div class="container">
    <h1>Register</h1>


        <form method="POST">
            {{form.hidden_tag()}}
            <!-- hidden_tag protects the form against CSRF attacks.-->
            {{form.username.label}}{{form.username(class="validate")}}
            {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}<br>
            {{form.email.label}}{{form.email(class="validate")}}
             {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}<br>
            {{form.password.label}}{{form.password}}
             {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}<br>
            {{form.psw_again.label}}{{form.psw_again}}
             {% for error in form.psw_again.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}<br>
            {{form.submit(onclick="alert('All done!')", class="btn waves-effect blue")}}
        </form>
        <p>
            Already registered?
         <a href="{{url_for('users.login')}}" class="">Login</a></div>
        </p>

</div>
{% endblock %}