{% extends "base.html" %}
{% block content%}
<div>
    <div class="container">
    <h1>Register</h1>


        <form method="POST">
            {{form.hidden_tag()}}
            <!-- hidden_tag protects the form against CSRF attacks.-->
            {{form.username(class="validate")}}{{form.username.label}}
            {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}<br>
            {{form.email(class="validate")}}{{form.email.label}}
             {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}<br>
            {{form.password}}{{form.password.label}}
             {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}<br>
            {{form.psw_again}}{{form.psw_again.label}}
             {% for error in form.psw_again.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}<br>
            {{form.submit(onclick="$('.progress').toggle()", class="btn waves-effect blue")}}
        </form>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
        <h6><em>Please note the fields are case sensitive.</em></h6>
        <p>
            Already registered?
         <a href="{{url_for('users.login')}}" class="">Login</a></div>
        </p>

</div>
{% endblock %}