{% extends "base.html" %}
{% block content%}
<div>
    <div class="container">
        <h1>Reset Password Request</h1>
        <form method="POST" action="">
            {{form.hidden_tag()}}
            {{ form.email(size=64) }}{{ form.email.label }}<br>
            <br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
            <div class="col s12 center-all">
            {{form.submit(onclick="$('.progress').toggle()",class="btn waves-effect waves-light")}}
                <a href="{{ url_for('main.index' )}}" class="waves-effect btn blue accent-2">
                            Return</a></div>
        </form>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>
{% endblock %}