/*Typography*/
@import url('https://fonts.googleapis.com/css?family=Abel');

.brand-logo, h1, .title--acct, h2, h3 {
    font-family: 'Abel';
}

input[type="submit" i] {
    color: #fff;
}

.title--acct {
    text-transform: uppercase;
    font-weight: bold;
}
.collection .collection-item.avatar .title {
    position: absolute;
    top: 25px;
}

.card .card-title {
    font-size: 20px;
    overflow-x: auto;
}

.options a{
    font-size: 30px;
    margin: 0 10px;
}

.options a:last-child {
    color: #ff0000;
}

.entry--content {
    text-transform: uppercase;
    margin:6px 0;
}

.entry--content span {
    font-weight: bold;
}


ul li>span{
    font-weight: bold;
    display:block;
}


nav i, nav i.material-icons{
    font-size: 30px;
}

p {
    overflow-wrap: break-word;
}

.dropdown-content li > a, .dropdown-content li > span
{
    color: #01579b;
}

.text-dark{
    color:#7c4dff;
}

.map i{
    font-weight: bold;
}

/* ENDTypography*/

/* Material Icons */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

a > .material-icons, .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    line-height: 1.15em;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* ENDMaterial Icons*/

/* Sections */
body {
    background-image: url("../../static/img/rockywall.png");
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.container {
    margin: auto;
    max-width: 800px;
}

.row{
    margin-bottom:0;
}
/* ENDSections */

/* Components */
blockquote {
    border-left: 5px solid #7c4dff;
    background-color: rgba(245, 245, 245, 0.51);
}

.entry {
    display: flex;
    align-items: center;
    justify-content: center;
}

.entry i{
    margin: 0 20px;
}

.entry-header{
    border-bottom: 4px dotted #000;
    margin-bottom: 15px;
    padding: 10px;
}

.map{
    margin-top:-20px;
    margin-bottom:20px;
}

nav .brand-logo {
    padding: 0 10px;
}

.center-all {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-around;
}

.category{
    width:348px;
}
.btn {
    margin: 5px;
}

.waves-effect {
    display:block;
    width: 170px;
}

.card .card-content, .card {
    padding: 10px;
}

img {
    max-width: 100%;
}

#circle--acct {
    top: 39px;
}

.lemon--left {
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.lemon--right {
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.collection, .collection .collection-item.avatar,
.collection .collection-item {
    min-height: 64px;
    background-color: transparent;
    border: none;
}

.textarea {
    height: 5rem;
    margin: 5px 0;
}

.progress {
    display: none;
}

.btn-flat {
    padding: 0;
}

.btn-floating.halfway-fab {
  right: 280px;
}

.btn-floating.btn-large {
    width: 46px;
    height: 46px;
    padding: 0;
}
.line-46 {
    line-height: 46px;
}

table, th, tbody{
    border-collapse:separate;
    box-shadow: none;
    font-weight: normal;
}
/* ENDComponents */

/* Media Queries*/
@media (min-width: 380px) {

    .card .card-title {
        font-size: 26px;
    }
}

@media (min-width: 768px) {
    .brand-logo, h1 {
        letter-spacing: 0.2em;
    }

    .btn-flat {
        padding: 0 16px;
    }
    .waves-effect {
    width:200px;
}
}

@media (min-width: 1100px) {
        .waves-effect {
    width:240px;
}

}

/* EndMedia Queries*/