{% extends "base.html" %}
{% block content%}
<div class="container">
    <h1>CATEGORIES</h1>
    <div class="row map">
        <div class="col s12 ">
        <a href="{{url_for('main.repo')}}" >Repository</a>
        <span><i class="material-icons">chevron_right</i> All Categories</span>
      </div>
    </div>
    <div class="row">
        <div class="col s12 center-all">
            <a href="{{url_for('categories.create_category')}}" class="btn waves-light waves-effect light-blue">
                <i class="material-icons">playlist_add</i> New Category</a>
        </div>

        <div class="col s12 center-all">

            {% for category in categories %}
            <div class="card center category">
                <span class="card-title">{{category.name}}</span>
                <div class="card-content blue lighten-5">
                    <i class="material-icons">book</i>
                    <p>
                        <a href="{{ url_for('categories.view_category', category_id=category.id)}}"
                           class="btn-flat blue-text"> Read
                            more</a>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}