{% extends "base.html" %}
{% block content%}
<div>
    <div class="container">
        <h1>New Category</h1>
        <form method="POST">
            {{form.hidden_tag()}}
            {{form.name.label}}{{form.name}}
            {% for error in form.name.errors %}
            <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
            {{form.description.label}}{{form.description(maxlength=950, class="materialize-textarea")}}
            {% for error in form.text.errors %}
            <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
            {{form.picture.label}}{{form.picture}}
            {{form.submit(onclick="$('.progress').toggle()", class="waves-effect btn deep-purple accent-2")}}
        </form>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>
{% endblock %}