{% extends "base.html" %}
{% block content%}
<div>
    <div class="container">
        <h1> {{ category.name }}</h1>
        <div class="row">
            <div class="col s12 m6">
                <img src="{{url_for('static',filename='img/amphora_default.png')}}">
            </div>
            <div class="col s12 m6">
                <div class="row"><h3>Entries</h3>
                    <div class="col s12 m6">
                        <ul class="collection">
                            {% for story in stories %}
                            <li class="collection-item avatar">
                                <i class="medium material-icons circle">chrome_reader_mode</i>
                                <a href="{{url_for('entries.view_story', story_id=story.id)}}" class="title">{{
                                    story.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col s12 m6">
                        <ul class="collection">
                            {% for being in beings %}
                            <li class="collection-item avatar">
                                <i class="medium material-icons circle blue">accessibility</i>
                                <a href="{{url_for('entries.view_being', being_id=being.id)}}" class="title">{{
                                    being.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <p class="flow-text">{{ category.description }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <a href="{{ url_for('categories.all_categories')}}"
                   class="waves-effect btn blue accent-2">
                    Return</a>
            </div>
            <div class="col s12 m6">
                <a href="{{ url_for('categories.update_category', category_id=category.id)}}"
                   class="waves-effect btn deep-purple accent-2">
                    Update Category</a>
            </div>
        </div>
    </div>

</div>
</div>
{% endblock %}