{% extends "base.html" %}
{% block content%}
<div>
    <div class="container">
        <h1> {{ category.name }}</h1>
        <div class="row">
            <div class="col s12 m6">
                <img src="{{url_for('static',filename='img/amphora_default.png')}}">
            </div>
            <div class="col s12 m6">
                <div class="row">
                    <div class="col s12 m6"><h3>Stories</h3>
                        {% for story in stories %}
                        <li><a href="{{url_for('entries.view_story', story_id=story.id)}}">{{ story.title }}</a></li>
                        {% endfor %}
                    </div>
                    <div class="col s12 m6"><h3>Beings</h3>
                        {% for being in beings %}
                        <li><a href="{{url_for('entries.view_being', being_id=being.id)}}">{{ being.name }}</a></li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <p class="flow-text">{{ category.description }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <a href="{{ url_for('categories.all_categories')}}"
                   class="waves-effect btn blue accent-2">
                    Return</a>
            </div>
            <div class="col s12 m6">
                <a href="{{ url_for('categories.update_category', category_id=category.id)}}"
                   class="waves-effect btn deep-purple accent-2">
                    Update Category</a>
            </div>
        </div>
    </div>

</div>
</div>
{% endblock %}