{% extends "base.html" %}
{% block content%}
<div>

    <div class="container">

        <h1>{{being.name}}</h1>

        <div class="row map">
            <div class="col s12 ">
                <a href="{{url_for('main.repo')}}">Repository</a>
                <span><i class="material-icons">chevron_right</i> Being <i class="material-icons">chevron_right</i> {{ being.name }}</span>
            </div>
        </div>
        <div class="row">
            <img src="{{ url_for('static', filename='img/amphora_header_being.jpg') }}">
        </div>
        <div class="row">
            <div class="col s12 l4">
                <ul class="collection">
                    <li class="collection-item avatar center-all">
                        <img src="{{ being.user.avatar(36) }}" class="circle ">
                        <p> Entry provided by<br>
                            <a href="{{url_for('users.user_entries', username=being.user.username)}}">{{
                                being.user.username}}</a>
                            {% if being.user == current_user %}
                        <div class="options">
                            <a href="{{url_for('entries.update_being', being_id=being.id)}}"><i
                                    class="medium material-icons" alt="Update Entry">mode_edit</i></a>
                            <a class="modal-trigger"
                               href="#delete_modal"><i class="medium material-icons" alt="Delete Entry">delete</i></a>
                        </div>
                        {% endif %}
                        </p>
                    </li>

                </ul>

            </div>
            <div class="col s12 l4">
                <span>Meaning and values associated:</span> {{being.meaning}}
            </div>
            <div class="col s12 l4"><span>Category: </span><a
                    href="{{ url_for('categories.view_category', category_id=being.category.id)}}">{{being.categories.name}}</a>
            </div>
            <div class="col s12 l4"><span>Source:</span>
                <a href="{{source}}" target="blank"> Click here (external link)</a>
            </div>


        </div>


        <div class="row">
            <div class="col s12">

                <p class="flow-text">

                    {{text}}
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col s12">

                {% for comment in comments %}
                <div class="card-panel">
                    <ul class="collection">
                        <li class="collection-item avatar">
                            <img src="{{ comment.user.avatar(36) }}" class="circle">
                            <p> Comment provided by<br>
                                <a href="{{url_for('users.user_entries', username=comment.user.username)}}"
                                   class="title--acct">{{
                                    comment.user.username}}</a></p>
                        </li>
                    </ul>

                    <span class="title--acct">{{ comment.subject }}</span>
                    <p> {{ comment.content }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% if current_user.is_authenticated %}
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <h3>COMMENTS</h3>
                    <p>Comments can be viewed by everyone and <strong>CANNOT</strong> be edited or deleted. Post
                        carefully!</p>
                    <form method="POST">
                        {{form.hidden_tag()}}
                        {{form.subject.label}}{{form.subject}}
                        {% for error in form.subject.errors %}
                        <span style="color: red;">{{ error }}</span><br>
                        {% endfor %}
                        {{form.content.label}}{{form.content(maxlength=950, class="materialize-textarea")}}
                        {% for error in form.content.errors %}
                        <span style="color: red;">{{ error }}</span><br>
                        {% endfor %}
                        {{form.submit(onclick="$('.progress').toggle()", class="waves-effect btn blue")}}
                    </form>
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col s12">
                <div class="card-panel"><h5 class="center"><a href="{{url_for('users.login')}}">
                    Log in</a> to leave a comment.</h5></div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col s12 center-all">

                <a href="{{url_for('main.repo')}}" class="btn waves-light waves-effect deep-purple accent-2">
                    Return</a>
            </div>
        </div>
    </div>


</div>
<div id="delete_modal" class="modal">
    <div class="modal-content">
        <h3>Delete Entry</h3>
        <h5>Do you really want to delete this entry?</h5>

        <form action="{{url_for('entries.delete_being', being_id=being.id)}}" method="POST">
            <input type="submit" class="modal-close red accent-2 btn-flat" value="Delete entry">
            <a href="#" class="modal-close light-blue btn-flat">Go Back</a>
        </form>

    </div>
</div>


</div>
{% endblock %}