{% extends "base.html" %}
{% block content%}
<div>

    <div class="container">
        <h1>{{being.name}}</h1>
        <img src="{{ url_for('static', filename='img/amphora_main.png') }}">
        <h4>Country affiliated: {{being.country}}</h4>
        <ul class="collection">
            <li class="collection-item avatar">
<img src="{{ being.user.avatar(36) }}" class="circle">
                <p> Entry provided by<br>
                    <a href="{{url_for('users.user_entries', username=being.user.username)}}">{{ being.user.username}}</a>
        </p>
            </li>
        </ul>

        <p class="flow-text">
            <h4>About:</h4>
            {{text}}
        </p>
        <p class="flow-text">
            <h4>Source:</h4>
            <a href="{{source}}" target="blank"> Click here (external link)</a>
        </p>
        {% if being.user == current_user %}
        <a href="{{url_for('entries.update_being', being_id=being.id)}}" class="waves-effect waves-light btn">Update</a>
        <a class="waves-effect waves-light btn pink modal-trigger" href="#delete_modal">Delete</a>
        {% endif %}
        <p>
             <a href="{{url_for('main.repo')}}" class="btn waves-light waves-effect light-grey">
                        Return to Repo</a>
        </p>
    </div>
           <div id="delete_modal" class="modal">
            <div class="modal-content">
                <h3>Delete Entry</h3>
                <h5>Do you really want to delete this entry?</h5>
            </div>
            <div class="modal-footer">

                <form  action="{{url_for('entries.delete_being', being_id=being.id)}}" method="POST">
                    <input type="submit" class="modal-close waves-effect waves-pink btn-flat" value="Delete entry">
                    <a href="#" class="modal-close waves-effect waves-green btn-flat">Go Back</a>
                </form>

            </div>
        </div>

</div>
{% endblock %}