{% extends "base.html" %}
{% block content%}
<div>

    <div class="container">

        <h1>{{being.name}}</h1>
        <div class="row">
            <div class="col s12 m6 "><img src="{{ url_for('static', filename='img/amphora_main.png') }}"></div>
            <div class="col s12 m6">
                <div class="entry">
                    <div class="entry--content">
                        <i class="medium material-icons card-image">accessibility</i>
                        <ul>
                            <li>Meaning and values associated: {{being.meaning}}</li>
                            <li>Category: <a
                                    href="{{ url_for('categories.view_category', category_id=being.category.id)}}">{{being.categories.name}}</a>
                            </li>
                            <li>Source:
                                <a href="{{source}}" target="blank"> Click here (external link)</a></li>
                            <p>
                                {% if being.user == current_user %}
                                <a href="{{url_for('entries.update_being', being_id=being.id)}}"
                                   class="waves-effect waves-light btn">Update</a>
                                <a class="waves-effect waves-light btn pink modal-trigger"
                                   href="#delete_modal">Delete</a>
                                {% endif %}
                            </p>
                            <ul class="collection">
                                <li class="collection-item avatar">
                                    <img src="{{ being.user.avatar(36) }}" class="circle">
                                    <p> Entry provided by<br>
                                        <a href="{{url_for('users.user_entries', username=being.user.username)}}">{{
                                            being.user.username}}</a>
                                    </p>
                                </li>
                            </ul>
                        </ul>
                    </div>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <p class="flow-text">

                    {{text}}
                </p>

            </div>
            <div class="col s12">
                <p>
                    <a href="{{url_for('main.repo')}}" class="btn waves-light waves-effect deep-purple accent-2">
                        Return</a>


                </p>
            </div>
        </div>


    </div>
    <div id="delete_modal" class="modal">
        <div class="modal-content">
            <h3>Delete Entry</h3>
            <h5>Do you really want to delete this entry?</h5>
        </div>
        <div class="modal-footer">

            <form action="{{url_for('entries.delete_being', being_id=being.id)}}" method="POST">
                <input type="submit" class="modal-close waves-effect waves-pink btn-flat" value="Delete entry">
                <a href="#" class="modal-close waves-effect waves-green btn-flat">Go Back</a>
            </form>

        </div>
    </div>

</div>
{% endblock %}