{% extends "base.html" %}
{% block content%}
<div>
    <div class="container">
        <h1>Create Story</h1>
        <form method="POST">
            {{form.hidden_tag()}}
            {{form.title.label}}{{form.title(class="validate")}}
            {% for error in form.title.errors %}
            <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
            {{form.text.label}}{{form.text(maxlength=950, class="materialize-textarea")}}
            {% for error in form.text.errors %}
            <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
            {{form.country.label}}{{form.country}}
            {% for error in form.country.errors %}
            <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
            {{form.category_id.label}}
            {{form.category_id(class="input-field",placeholder="--select--")}}
            {% for error in form.category_id.errors %}
            <span style="color: red;">{{ error }}</span><br>
            {% endfor %}<br>
            {{form.source.label}}{{form.source}}
            {{form.submit(onclick="$('.progress').toggle()", class="waves-effect btn deep-purple accent-2")}}
        </form>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>
{% endblock %}