{% extends "base.html" %}
{% block content%}
<div>
    <div class="container">
                {% if title is defined %}
        <h1>{{ title }}</h1>
        {% else %}
        <h1>Create Story</h1>
        {% endif %}
        <form method="POST">
            {{form.hidden_tag()}}
            {{form.title.label}}{{form.title(class="validate")}}
            {% for error in form.title.errors %}
            <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
            {{form.text.label}}{{form.text(maxlength=950, class="materialize-textarea")}}
            {% for error in form.text.errors %}
            <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
            {{form.meaning.label}}{{form.meaning(class="materialize-textarea")}}
            {% for error in form.meaning.errors %}
            <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
            {{form.source.label}}{{form.source}}
            {% for error in form.source.errors %}
            <span style="color: red;">{{ error }}</span><br>
            {% endfor %}<br>
            {{form.category_id.label}}
            {{form.category_id(class="input-field")}}
            {% for error in form.category_id.errors %}
            <span style="color: red;">{{ error }}</span><br>
            {% endfor %}<br>
            {{form.submit(onclick="$('.progress').toggle()", class="waves-effect btn deep-purple accent-2")}}
        </form>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
        <p>
                <a href="{{url_for('main.repo')}}"
                   class="btn waves-light waves-effect blue">
                    Cancel</a>

            </p>
    </div>
</div>
{% endblock %}