{% extends "base.html" %}
{% block content%}
<div>
    <div class="container">
        <h1>Create Story</h1>
        <form method="POST">
            {{form.hidden_tag()}}
            {{form.title.label}}{{form.title(class="validate")}}
            {{form.text.label}}{{form.text(maxlength=950, class="materialize-textarea")}}
            {{form.country.label}}{{form.country}}
            {{form.category.label}}{{form.category}}
            {{form.source.label}}{{form.source}}
            {{form.submit(onclick="alert('All done!')", class="waves-effect btn")}}
        </form>
    </div>
</div>
{% endblock %}