{% extends "base.html" %}
{% block content%}
<div>

    <div class="container">
        <h1>{{story.title}}</h1>
        <div class="row">
            <div class="col s12 m6"><img src="{{ url_for('static', filename='img/amphora_default.png') }}"></div>
            <div class="col s12 m6">
                <ul class="collection">
                    <li class="collection-item avatar">
                        <img src="{{ story.user.avatar(36) }}" class="circle">
                        <p> Entry provided by<br>
                            <a href="{{url_for('users.user_entries', username=story.user.username)}}">{{
                                story.user.username}}</a>
                        </p>
                    </li>
                </ul>
                <h5>Category: </h5>{{story.category}}
                <h5>Country affiliated: </h5>{{story.country}}
                <h5>Source:</h5>
                <a href="{{source}}" target="blank"> Click here (external link)</a>
                </div>
        </div>
        <div class="row">
            <div class="col s12">
                <p class="flow-text">
                <h4>About:</h4>
                {{text}}
                </p>
            </div>
            <div class="col s12">
                <p> <a href="{{url_for('main.repo')}}" class="btn waves-light waves-effect light-grey">
                        Return to Repo</a>

                    {% if story.user == current_user %}

                    <a href="{{url_for('entries.update_story', story_id=story.id)}}"
                       class="waves-effect waves-light btn right">Update</a>
                    <a class="waves-effect waves-light btn pink modal-trigger right" href="#delete_modal">Delete</a>
                    {% endif %}

                </p>
            </div>
        </div>
    </div>
    <div id="delete_modal" class="modal">
        <div class="modal-content">
            <h2>Delete Entry</h2>
            <h3>Do you really want to delete this entry?</h3>
        </div>
        <div class="modal-footer">

            <form action="{{url_for('entries.delete_story', story_id=story.id)}}" method="POST">
                <input type="submit" class="modal-close waves-effect waves-pink btn-flat" value="Delete entry">
            </form>
            <a href="#" class="modal-close waves-effect waves-green btn-flat">Go Back</a>
        </div>
    </div>


</div>
{% endblock %}