{% extends "base.html" %}
{% block content%}
<div class="container">
    <h1>ABOUT</h1>
    <div class="row">
        <div class="col s12 l4">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header blue lighten-4"><i class="material-icons">subject</i><h5>Definition
                        of <em>amphora</em></h5>
                    </div>
                    <div class="collapsible-body grey lighten-4">
                        <blockquote><a href="https://www.merriam-webster.com/dictionary/amphora" target="_blank">Merriam-Webster</a>
                        </blockquote>
                        <ul>
                            <li>1 : an ancient Greek jar or vase with a large oval body,
                                narrow cylindrical neck, and two handles that rise almost to the level of the mouth
                            </li>
                            <li><strong>broadly : such a jar or vase used elsewhere in the ancient world</strong>
                            <li>2 : a 2-handled vessel shaped like an amphora</li>
                            </li>

                        </ul>
                    </div>
                </li>
            </ul>

        </div>

        <div class="col s12 l8"><h2>FAQs</h2>
            <ul>
                <li><span>Why was Amphora created?</span> Amphora is the brainchild of Veronique Savard and took form in
                    the context of her Code Institute online course.
                    Amphora remains your one-stop resource for information about myths, legends and incredible beings.
                    You can build up your own collection of entries and review them, along with the entries provided by
                    your fellows, at every visit.
                </li>
                <hr>
                <li><span>Can I edit someone else's entries?</span> This option is not offered at the moment.
                    <highlight>You can add comments to someone's entry.</highlight>
                    You
                    can however create your own entry, which you can retrieve easily by accessing your account.
                </li>
                <hr>
                <li><span>Can I change my username or password?</span> Your username cannot be changed, but you can
                    update your email address, which is important to keep current. You can request a password reset via
                    your email address.
                </li>
                <hr>
                <li><span>Do I need to be logged in to update or create a category?</span> Everyone can edit and update
                    categories as of now. We ask you to be respectful and include only relevant information.
                </li>
                <hr>

            </ul>
        </div>
    </div>
</div>
{% endblock %}
