{% extends "base.html" %}
{% block content%}
<div class="container">
    <h1>ABOUT</h1>
    <div class="row">
        <div class="col s12 l4">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header blue lighten-4"><i class="material-icons">subject</i><h5>Definition of amphora</h5>
                    </div>
                    <div class="collapsible-body grey lighten-4">
                        <blockquote><a href="https://www.merriam-webster.com/dictionary/amphora" target="_blank">Merriam-Webster</a>
                        </blockquote>
                        <ul>
                            <li>1 : an ancient Greek jar or vase with a large oval body,
                                narrow cylindrical neck, and two handles that rise almost to the level of the mouth
                            </li>
                            <li><strong>broadly : such a jar or vase used elsewhere in the ancient world</strong>
                            <li>2 : a 2-handled vessel shaped like an amphora</li>
                            </li>

                        </ul>
                    </div>
                </li>
            </ul>

        </div>

        <div class="col s12 l8"><h2>FAQs</h2>
            <ul>
                <li><strong>Can I edit someone else's entries?</strong> This option is not offered at the moment. You
                    can however create your own entry, which you can retrieve easily by accessing your account.
                </li>
                <hr>
                <li><strong>Can I change my username or password?</strong> Yes you can, however be certain to remember
                    your password as it cannot be updated, changed or retrieved.
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto autem cum, dolor,
                    dolores
                    dolorum eaque in inventore iure provident quaerat velit! Asperiores dolore iure nesciunt nostrum,
                    nulla quo voluptatum?
                </li>
                <hr>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto autem cum, dolor,
                    dolores
                    dolorum eaque in inventore iure provident quaerat velit! Asperiores dolore iure nesciunt nostrum,
                    nulla quo voluptatum?
                </li>
                <hr>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto autem cum, dolor,
                    dolores
                    dolorum eaque in inventore iure provident quaerat velit! Asperiores dolore iure nesciunt nostrum,
                    nulla quo voluptatum?
                </li>
                <hr>
            </ul>
            <p>
                Amphora is your one-stop resource for information about myths, legends and incredible beings.
                You can build up your own collection of entries and review them, along with the entries provided by
                your fellows, at every visit.
            </p></div>
    </div>
</div>
{% endblock %}
