{% extends "base.html" %}
{% block content%}
<div class="container">
    <h1> Amphora</h1>
    <div class="row">
        <div class="col s12 m4 l4"><p class="flow-text"> Welcome to this repository of knowledge!</p>
            <p class="flow-text"> It is the place where you can collect, review and create entries about <strong>myths</strong>,
                <strong>legends</strong> and <strong>incredible beings</strong>.</p>
        </div>

        <div class="col s12 m4 l4 center">
            <img src="{{ url_for('static', filename='img/amphora_default.png') }}" alt="Amphora default image" class="lemon--right">
            <img src="{{ url_for('static', filename='img/amphora_main.png') }}" alt="Amphora main image" class="lemon--left">
        </div>
        <div class="col s12 m4 l4">
            <blockquote>Alice could not help her lips curling up into a smile as she began: "Do you know, I always thought
                Unicorns were fabulous monsters, too! I never saw one alive before!"
                "Well, now that we have seen each other," said the Unicorn, "if you'll believe in me, I'll believe in
                you. Is that a bargain?"
            </blockquote>
            <span><em>Lewis Carroll, Alice's Adventures in Wonderland & Through the Looking-Glass</em></span>
            <blockquote>I liked myths. They weren't adult stories and they weren't children's stories. They were better
                than that. They just were.
            </blockquote>
            <span><em>Neil Gaiman, The Ocean at the End of the Lane</em></span>
        </div>
    </div>

</div>
{% endblock %}