{% extends "base.html" %}
{% block content%}
<div class="container">
    <h1>REPOSITORY</h1>
    <div class="row">
        <div class="col s12">
            <h5><i class="material-icons">subject</i> Definition
                of repository</h5>
            <div class="grey lighten-5">
                <blockquote><a href="https://www.merriam-webster.com/dictionary/repository" target="_blank">Merriam-Webster</a>

                    <ul>
                        <li>1 : a place, room, or container where something is deposited or stored : DEPOSITORY</li>
                        <li><strong>...</strong></li>
                        <li>3 : one that contains or stores something nonmaterial<br>
                            <em>// considered the book a repository of knowledge</em></li>
                    </ul>
                </blockquote>
            </div>
        </div>
        <div class="col s12 center-all">

            <!-- Dropdown Trigger -->
            <a class='dropdown-trigger btn waves-light waves-effect blue ' href='#' data-target='dropdown1'>
                <i class="material-icons">playlist_add</i> New Entry</a>
            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
                <li><a href="{{url_for('entries.create_story')}}">
                    Add Entry: Story</a></li>
                <li><a href="{{url_for('entries.create_being')}}">
                    Add Entry: Being</a></li>
            </ul>
            <a href="{{url_for('categories.all_categories')}}"
               class="btn waves-light waves-effect deep-purple accent-2">
                All Categories</a>
            <a href="{{ url_for('searchdb.search')}}" class="waves-effect btn white text-dark">
                <i class="tiny material-icons">search</i> Search All</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <h3>Stories</h3>
            {% for story in stories.items%}
            <div class="card center">
                <span class="card-title">{{story.title}}</span>
                <div class="card-content blue lighten-5">
                    <p>{{story.category}}</p><i class="material-icons">chrome_reader_mode</i>
                    <p>
                        <a href="{{ url_for('entries.view_story', story_id=story.id)}}" class="btn-flat blue-text"> Read
                            more</a>
                    </p>
                </div>
            </div>

            {% endfor %}
            <ul class="pagination ">
                {% for page_num in stories.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if stories.page == page_num %}
                <li class="disabled deep-purple lighten-5">
                    <a href="{{ url_for('main.repo', page=page_num) }}">{{ page_num
                        }}</a></li>
                </li>
                {% else %}
                <li class="blue lighten-5"><a href="{{ url_for('main.repo', page=page_num) }}">{{
                    page_num }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>

        </div>

        <div class="col s12 m6">
            <h3>Beings</h3>

            {% for being in beings.items%}
            <div class="card center">
                <span class="card-title">{{being.name}}</span>
                <div class="card-content blue lighten-5">
                    <p>{{being.category}}</p><i class="material-icons">accessibility</i>
                    <p><a href="{{ url_for('entries.view_being', being_id=being.id)}}" class="btn-flat blue-text">
                        Read more</a>
                    </p>
                </div>
            </div>
            {% endfor %}

            <ul class="pagination">
                {% for page_num in beings.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if beings.page == page_num %}
                <li class="disabled deep-purple lighten-5">
                    <a href="{{ url_for('main.repo', page=page_num) }}">
                        {{ page_num
                        }}</a></li>
                </li>
                {% else %}
                <li class="blue lighten-5">
                    <a href="{{ url_for('main.repo', page=page_num) }}">{{ page_num }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>

        </div>
    </div>


</div>
{% endblock %}